
section{
	display: flex;
  min-height: 100vh;
  flex-direction: column;

}
  

main{
  flex: 1 0 auto;
}
  
#profile-img{
	width: 250px;
  height: 250px;
  border: solid;
  border-color: #01579b;

}
  